<div>
  <div *ngFor="let student of students">
    <div>
      {{ student.id }}
      {{ student.firstName }}
      {{ student.lastName }}
      {{ student.major }}
      {{ student.birthDay }}
    </div>
  </div>

  <div>
    <label>
      <input type="text" placeholder="First name" [(ngModel)]="student.firstName"/>
    </label>
    <label>
      <input type="text" placeholder="Last name" [(ngModel)]="student.lastName"/>
    </label>
    <label>
      <input type="text" placeholder="Major" [(ngModel)]="student.major"/>
    </label>
    <label>
      <input type="text" placeholder="Birthday" [(ngModel)]="student.birthDay"/>
    </label>
    <label>
      <button (click)="createStudent(student)" class="btn">Create</button>
    </label>
  </div>

</div>
